<form action = '/home/write' method = 'post'>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name = 'username'>
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" name = 'usernumber'>
          <label for="icon_telephone">Telephone</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="password" class="validate" name = 'userpassword'>
          <label for="icon_telephone">Telephone</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="text" class="validate" name = 'usertype'>
          <label for="icon_telephone">Telephone</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="text" class="validate" name = 'userdepart'>
          <label for="icon_telephone">Telephone</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="text" class="validate" name = 'userdepart'>
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      <button type = 'submit' value = '제출'>
    </form>
  </div>
        
</form>
